on:
  push:
    branches:
      - master
      - staging
      - trying
  pull_request:

name: Continuous integration

jobs:
  tests:
    name: Rust project
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - "1.74" # Current minimum for experimental features
          - stable
          - beta
          - nightly

    steps:
      - uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
          components: clippy

      # Make sure we test with recent deps
      - run: cargo update
        # Note: some crates broke BC with 1.74 so we use the locked deps
        if: "${{ matrix.rust != '1.74' }}"
      - run: cargo build --all-features --all-targets
      - run: cargo test --all-features
        # Note: Rust 1.74 doesn't understand edition 2024 formatting so no point
        if: "${{ matrix.rust != '1.74' }}"
      - run: cargo clippy --all-features --all-targets -- -D warnings

  msrv:
    name: MSRV
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@1.74
        with:
          toolchain: "1.70"

      # Test everything except experimental features.
      - run: cargo test --features backtraces,lock_api,parking_lot

  formatting:
    name: Formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      # Use nightly formatting options
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt
      - run: cargo fmt --check

  docs:
    name: Documentation build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@nightly

      - name: Build documentation
        env:
          # Build the docs like docs.rs builds it
          RUSTDOCFLAGS: --cfg docsrs
        run: cargo doc --all-features --no-deps
